.processpage{
    width: 98%;
    margin-top: 50px;

    

}
.proleft{
    margin-top: 160px;
    width: 90%;
}
.researchprocess{
    display:flex;
}
.research{

    
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.researchicons svg{
    width: 50px;
    height: 50px;
    color: #9929fb;
}
.researchicons svg:hover{
    background-color: #9929fb;
    border: none;
    color: white;
}
.analyze{
     padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.analyze:hover{
     background-color: white;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.research:hover{
    background-color: white;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;

}
