.bghomecolor{
/* background: linear-gradient(to right, #ffffff, #fce7f9, #f5d0fe); */
}
.homepage{
    height: 550px;
    display: flex;
    align-items: center;
}
.status{
    border: 1px solid rgb(219, 217, 217);
    background-color: #F6EBFE;
    
}
.developerimage{
    display: flex;
    justify-content: center;
}
.developerimage img{
    border-radius: 15px;
    
    background-color: white;
    text-align: center;
}